name = "warden-worker"
main = "src/entry.js"
compatibility_date = "2025-09-19"
keep_vars = true
workers_dev = false
preview_urls = false

[durable_objects]
bindings = [
  { name = "HEAVY_DO", class_name = "HeavyDo" }
]

[[migrations]]
tag = "do_v1"
new_sqlite_classes = ["HeavyDo"]

[build]
command = "cargo install --locked -q worker-build --version 0.7.4 && worker-build --release --locked"

[[ratelimits]]
name = "LOGIN_RATE_LIMITER"
namespace_id = "1001"
simple = { limit = 5, period = 60 }

[assets]
directory = "./public/web-vault"
not_found_handling = "404-page"
html_handling = "auto-trailing-slash"
run_worker_first = ["/api/*", "/identity/*"]

[vars]

[triggers]
crons = ["0 3 * * *"]

[[d1_databases]]
binding = "vault1"
database_name = "vault1"
database_id = "${D1_DATABASE_ID}"
migrations_dir = "migrations"

[[kv_namespaces]]
binding = "ATTACHMENTS_KV"

[env.dev]
name = "warden-worker-dev"
keep_vars = true
workers_dev = false
preview_urls = false

[env.dev.vars]

[env.dev.durable_objects]
bindings = [
  { name = "HEAVY_DO", class_name = "HeavyDo" }
]

[env.dev.triggers]
crons = ["0 3 * * *"]

[[env.dev.ratelimits]]
name = "LOGIN_RATE_LIMITER"
namespace_id = "1002"
simple = { limit = 5, period = 60 }

[[env.dev.d1_databases]]
binding = "vault1"
database_name = "vault1-dev"
database_id = "${D1_DATABASE_ID_DEV}"
migrations_dir = "migrations"

[[env.dev.kv_namespaces]]
binding = "ATTACHMENTS_KV"

[env.dev.observability]
[env.dev.observability.logs]
enabled = true
head_sampling_rate = 1
invocation_logs = true
persist = true

[env.dev.observability.traces]
enabled = false
persist = true
head_sampling_rate = 1
